<div class="edit-page">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Term Details</li>
        </ol>
    </nav>
    <div class="page-content">
        <div class="row">
            <div class="col col-md-8">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                {{item.name}}
                            </h2>
                            <h3 *ngIf="item.acronymMeaning">
                                ({{item.acronymMeaning}})
                            </h3>
                            <p>
                                {{item.definition}}
                            </p>
                            
                        </div>
                    </div>
                </div>

                <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

                    <div class="row submit-button-container">
                        <div class="col-md-4">
                            <button mat-raised-button class="back-button" color="primary" type="button"
                                (click)="onBack()">Back</button>
                        </div>
                        <div class="col-md-4">
                            <button mat-raised-button class="edit-button" color="warn" type="submit"
                                [disabled]="!exampleForm.valid">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>