<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Connection</h2>
        <form [formGroup] = "signInForm" (ngSubmit) = "onSubmit()">
            <div class="formGroup">
                <label for="email">email</label>
                <input type="text" id = "email" class="form-control" formControlName = "email">
            </div>
            <br>
            <div class="formGroup">
                <label for="password">password</label>
                <input type="password" id = "password" class="form-control" formControlName = "password">
            </div>
            <br>
            <button class="btn btn-primary" type = "submit" [disabled] = "signInForm.invalid" >
                Connect
            </button>
        </form>
        <p class="text-danger">{{errorMessage}}</p>
    </div>
</div>